//! **************************************************************************
// Written by: Map P.20160913 on Sat Jan 12 07:48:52 2019
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "P124" LEVEL 1;
COMP "tx" LOCATE = SITE "P10" LEVEL 1;
COMP "q1a" LOCATE = SITE "P95" LEVEL 1;
PIN q1a_pin<0> = BEL "q1a" PINNAME PAD;
PIN "q1a_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q1b" LOCATE = SITE "P98" LEVEL 1;
PIN q1b_pin<0> = BEL "q1b" PINNAME PAD;
PIN "q1b_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q2a" LOCATE = SITE "P142" LEVEL 1;
PIN q2a_pin<0> = BEL "q2a" PINNAME PAD;
PIN "q2a_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q2b" LOCATE = SITE "P140" LEVEL 1;
PIN q2b_pin<0> = BEL "q2b" PINNAME PAD;
PIN "q2b_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q3a" LOCATE = SITE "P46" LEVEL 1;
PIN q3a_pin<0> = BEL "q3a" PINNAME PAD;
PIN "q3a_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q3b" LOCATE = SITE "P44" LEVEL 1;
PIN q3b_pin<0> = BEL "q3b" PINNAME PAD;
PIN "q3b_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q4a" LOCATE = SITE "P35" LEVEL 1;
PIN q4a_pin<0> = BEL "q4a" PINNAME PAD;
PIN "q4a_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "q4b" LOCATE = SITE "P33" LEVEL 1;
PIN q4b_pin<0> = BEL "q4b" PINNAME PAD;
PIN "q4b_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "inc" LOCATE = SITE "P126" LEVEL 1;
COMP "rxin" LOCATE = SITE "P8" LEVEL 1;
COMP "a1<0>" LOCATE = SITE "P32" LEVEL 1;
COMP "a1<1>" LOCATE = SITE "P34" LEVEL 1;
COMP "a2<0>" LOCATE = SITE "P141" LEVEL 1;
COMP "a2<1>" LOCATE = SITE "P1" LEVEL 1;
COMP "b1<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "a3<0>" LOCATE = SITE "P45" LEVEL 1;
COMP "b1<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "a3<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "b2<0>" LOCATE = SITE "P137" LEVEL 1;
COMP "a4<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "b2<1>" LOCATE = SITE "P139" LEVEL 1;
COMP "a4<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "c1<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "b3<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "c1<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "b3<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "c2<0>" LOCATE = SITE "P131" LEVEL 1;
COMP "b4<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "c2<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "b4<1>" LOCATE = SITE "P97" LEVEL 1;
COMP "c3<0>" LOCATE = SITE "P74" LEVEL 1;
COMP "c3<1>" LOCATE = SITE "P55" LEVEL 1;
COMP "c4<0>" LOCATE = SITE "P104" LEVEL 1;
COMP "c4<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "hall1<0>" LOCATE = SITE "P30" LEVEL 1;
COMP "hall1<1>" LOCATE = SITE "P27" LEVEL 1;
COMP "hall1<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "hall2<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "hall2<1>" LOCATE = SITE "P134" LEVEL 1;
COMP "hall2<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "hall3<0>" LOCATE = SITE "P48" LEVEL 1;
COMP "hall3<1>" LOCATE = SITE "P51" LEVEL 1;
COMP "hall3<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "hall4<0>" LOCATE = SITE "P100" LEVEL 1;
COMP "hall4<1>" LOCATE = SITE "P102" LEVEL 1;
COMP "hall4<2>" LOCATE = SITE "P105" LEVEL 1;
SCHEMATIC END;

