//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 08 23:24:22 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "A<0>" LOCATE = SITE "L16" LEVEL 1;
COMP "A<1>" LOCATE = SITE "L15" LEVEL 1;
COMP "B<0>" LOCATE = SITE "K16" LEVEL 1;
COMP "B<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "C<0>" LOCATE = SITE "J18" LEVEL 1;
COMP "C<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "H<0>" LOCATE = SITE "V11" LEVEL 1;
COMP "H<1>" LOCATE = SITE "U11" LEVEL 1;
COMP "H<2>" LOCATE = SITE "V13" LEVEL 1;
SCHEMATIC END;

