//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 09 20:27:36 2018
//! **************************************************************************

SCHEMATIC START;
COMP "PWM_Val<3>" LOCATE = SITE "P116" LEVEL 1;
COMP "PWM_Val<4>" LOCATE = SITE "P115" LEVEL 1;
COMP "PWM_Val<5>" LOCATE = SITE "P114" LEVEL 1;
COMP "PWM_Val<6>" LOCATE = SITE "P112" LEVEL 1;
COMP "PWM_Val<7>" LOCATE = SITE "P111" LEVEL 1;
COMP "A<0>" LOCATE = SITE "P43" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P44" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P45" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P46" LEVEL 1;
COMP "C<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "C<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "RX" LOCATE = SITE "P35" LEVEL 1;
COMP "TX" LOCATE = SITE "P50" LEVEL 1;
COMP "H<0>" LOCATE = SITE "P33" LEVEL 1;
COMP "H<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "H<2>" LOCATE = SITE "P30" LEVEL 1;
COMP "E" LOCATE = SITE "P34" LEVEL 1;
PIN E_pin<0> = BEL "E" PINNAME PAD;
PIN "E_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RST" LOCATE = SITE "P124" LEVEL 1;
COMP "CLK" LOCATE = SITE "P126" LEVEL 1;
COMP "PWM_Val<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "PWM_Val<1>" LOCATE = SITE "P118" LEVEL 1;
COMP "PWM_Val<2>" LOCATE = SITE "P117" LEVEL 1;
SCHEMATIC END;

