//! **************************************************************************
// Written by: Map P.20131013 on Tue May 22 20:53:42 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "Count<7>" LOCATE = SITE "T18" LEVEL 1;
COMP "A" LOCATE = SITE "H17" LEVEL 1;
COMP "IN<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "IN<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "RST" LOCATE = SITE "K18" LEVEL 1;
COMP "IN<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "IN<3>" LOCATE = SITE "E18" LEVEL 1;
COMP "IN<4>" LOCATE = SITE "D18" LEVEL 1;
COMP "IN<5>" LOCATE = SITE "D17" LEVEL 1;
COMP "IN<6>" LOCATE = SITE "C18" LEVEL 1;
COMP "IN<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "Count<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "Count<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "CLK" LOCATE = SITE "D9" LEVEL 1;
COMP "Count<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "Count<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "Count<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "Count<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "Count<6>" LOCATE = SITE "T17" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

