//! **************************************************************************
// Written by: Map P.20131013 on Wed May 23 01:03:50 2018
//! **************************************************************************

SCHEMATIC START;
COMP "DATA<0>" LOCATE = SITE "P111" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "P114" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "P115" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "P116" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "P117" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "P118" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "P119" LEVEL 1;
COMP "RX" LOCATE = SITE "P35" LEVEL 1;
PIN RX_pin<0> = BEL "RX" PINNAME PAD;
PIN "RX_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RST" LOCATE = SITE "P124" LEVEL 1;
COMP "CLK" LOCATE = SITE "P126" LEVEL 1;
SCHEMATIC END;

