//! **************************************************************************
// Written by: Map P.20131013 on Sun May 20 16:09:51 2018
//! **************************************************************************

SCHEMATIC START;
COMP "DATA<5>" LOCATE = SITE "D17" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "C18" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "TX" LOCATE = SITE "T11" LEVEL 1;
COMP "RST" LOCATE = SITE "K18" LEVEL 1;
COMP "CLK" LOCATE = SITE "D9" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "E18" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "D18" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

